
*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--color-text);
}
/*
main{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(20em, 1fr));
    gap:1em;
}
*/
button{
    cursor: pointer;
}

/**********************/
/* KLEUREN */
/**********************/
:root{
    --color-main:white;
    --color-text:rgba white ;
    --color-background:rgba(7,71,30,255);
    --color-textclick:rgba(255, 194, 13, 1);

}

@media (prefers-color-scheme:dark){
    :root {
        --color-main: black;
        --color-text: rgba(255, 194, 13, 1);

    }
}

/********************/
/* NAVIGATIE */
/********************/

nav{

background-color:var(--color-background);
top:0;
z-index:10;
display:flex;
flex-wrap:wrap;
justify-content:center;
}

nav a, h1{
    color:var(--color-main);
    outline: none;
    text-decoration: none;
    display: block;
    text-align: center;
   
 
}

nav ul{

    list-style: none;
    display: flex;
    gap: 1px;
}

nav li{
    min-height:6em;
    flex-grow:1;
}

nav a:hover{
    color:var(--color-textclick);
}
/******************************/
/**** eerste 3 plaatjes  *****/
/****************************/

h2:has(img){
    max-width: 8em;
    margin-left: -10em;
}

/***************************/
/*******box met linkjes ****/
/***************************/

article:first-child {
    grid-column-start: 1/-1; /*dit is start en end in een regel*/
    background: ;
}

article{
    display: flex;
    justify-content: center;
    margin: 1em;
}

article > img{
    width: 12em;
}
article:nth-of-type(5) {
    margin-left: 10em;

}

section{
    display: flex;
    justify-content: space-around;
    background-color:var(--color-background);
    overflow-x: scroll;
    
}

div{
    color:var(--color-main);
    margin-right: 3em;
    font-size: medium;
    
}

h2 a {
    color:var(--color-main);
    text-decoration: none;
}
/***************************/
/*** FOOTER  ***************/
/***************************/
footer img{
    z-index: -1;
}
    
